* {
 margin: 0;
 padding: 0;
 /* inportant tag  */
 box-sizing: border-box;
}

.open-sans- {
 font-family: "Open Sans", sans-serif;
 font-optical-sizing: auto;

}

.header-container {
 padding-top: 51px;
 background-color: #FFF8F3;

 background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
 background-position: top 38px left 23px, bottom right;
 background-repeat: no-repeat;


}

.navigation-var {

 margin: 0px 219px 0 230px;
 display: flex;
 justify-content: space-between;
 align-items: center;

}

.nav-logo {
 font-size: 45px;
 font-weight: bolder;
}

#extra-color {
 color: #FD6E0A;
}

.btn {
 background-color: #FD6E0A;
 font-size: 20px;
 font-weight: bold;
 color: #FFF8F3;
 padding: 18px 36px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}

.navigation-var li {
 list-style: none;
 display: inline;
 margin-left: 51px;
 font-size: 20px;

}

.navigation-var li a {
 text-decoration: none;
}

.banner-container {
 margin: 45px 27px 0 230px;
 display: flex;
 align-items: center;
}

.banner-container img {
 width: 584px;
 height: 676px;
}

.banner-title {
 font-size: 45px;
 font-weight: 900;
 color: #474747;
}

.mery-hardy {
 font-size: 85px;
 font-weight: bold;

}

.banner-content {
 padding-right: 163px;
}

.banner-btn-area {
 margin-top: 45px;

}

.contact-btn {
 color: #FD6E0A;
 background-color: #FFF8F3;
 border: 2px solid #FD6E0A;
 padding-top: 16px;
 padding-bottom: 16px;
 margin-left: 30px;

}

.about-section {
 padding: 222px 312px 0 268px;
 margin: 0 auto;
}

.about-container {
 padding: 39px 160px 93px 118px;
 margin: 0 auto;
 width: 1132px;
 height: 550px;
 background-color: #FFF8F3;
 text-align: center;
}

.about-content {

 width: 782px;
 height: 418px;
 margin: 0 auto;


}

.about-title,
.cards-title,
.resume-title {
 font-size: 35px;
 font-weight: bold;
 color: #181818;
}

.about-foot {
 display: flex;
 justify-content: space-around;
 padding-top: 160px;
}

.about-foot h3 {
 font-size: 20px;
 font-weight: bold;
}

.about-foot p {
 font-size: 20px;
 color: #757575;
}

.paragrap-font {
 font-size: 18px;
 color: #757575;
 padding-top: 30px;
}

.card-container {
 padding-top: 38px;
 /* extra padding bottom */
 padding-bottom: 100px;


}

.card-info {
 text-align: center;
 padding: 0 387px 50px 384px;

}

.cards {
 display: flex;
 gap: 24px;

 justify-content: center;

}

.card {
 width: 267px;
 height: 377px;
 padding: 30px;

 color: #FFFFFF;
 /* box-shadow: offset-x offset-y blur-radius spread-radius color; */
 box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.167);
}

.card h3 {
 font-size: 20px;
 font-weight: bold;
 padding: 30px 0 20px 0;
 color: #181818;
}

.resume-container {

 padding: 130px 277px 100px 230px;
}

.resume-contents {
 display: flex;
 justify-content: space-around;

}

.resume-contents h2 {

 font-size: 30px;
 font-weight: bold;
}

.resume-content {
 width: 511px;
 height: 200px;
 padding-bottom: 30px;
}

.resume-content h3 {
 font-size: 25px;
 font-weight: bold;
 padding-top: 30px;
}

.resume-content h5 {
 font-size: 20px;
 font-weight: 900;
 padding: 10px 0 10px 0;
}


hr {

 width: 558px;
}

.resume-container .resume-title {
 text-align: center;
 padding-bottom: 113px;

}

.resume-btn {
 text-align: center;
}